$navMenuWidth: 230px;
$navMenuLeftPad1: 16px;
$navMenuLeftPad2: $navMenuLeftPad1 + 10;

.panel {
  border: 0;
  max-width: 550px;
  box-shadow: 0 3px 3px 0
    rgba(0,0,0,0.14),0 3px 1px -2px
    rgba(0,0,0,0.2),0 1px 5px 0
    rgba(0,0,0,0.12);
  a {
    text-decoration: underline;
    color: #15c;
  }
  a:visited {
    color: #61c;
  }
  word-wrap: break-word;
}

.navmenu {
  width: $navMenuWidth;
  margin-top: 52px;
}

.navmenu-nav > li > h4 {
  position: relative;
  display: block;
  padding: 3px $navMenuLeftPad1;
  margin-top: 8px;
  margin-bottom: 3px;
}

.navmenu-nav > li a {
  padding: 8px $navMenuLeftPad2;
}
