body {
  padding-top: 70px;
}

.success-text {
  color: #3c763d;
}

.error-msg {
  margin-left: .5rem;
  color: #e50000;
}

.list-group-alt-row {
  background: #f1f1f1;
}

.date-list-group-container {
  background: #eee;
}

.date-list-group {
  margin-bottom: 0;
}

.date-list-item-added {
  background: #dff0d8;
}

// increase font size for forms on small devices
input[type="text"], input[type="number"], input[type="password"], textarea, select, select.form-control {
  font-size: 16px;
}

// Tablet upwards
@media (min-width: 768px) {
  font-size: 14px;
}
